.logoImage {
  width: 150px;
  height: 150px;
  background-image: url('/img/example-logo-2.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  height: 40px;
  align-items: center;
}
nav ul {
  display: flex;
}

nav ul li {
  margin: 0px 10px;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  margin-left: 30px;
}

.loginArea ul {
  display: flex;
}

.loginArea ul li {
  margin: 0px 3px;
}

.shopcart-icon {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  background-color: red;
  background-image: url('/img/shopcarticon.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
}
main {
  display: grid;
  grid-template-areas: 'side principal';
  justify-content: center;
  column-gap: 1vw;
}
.side {
  grid: side;
  border: 1px solid red;
  width: 240px;
  height: 100vh;
}
.principal {
  grid: principal;
  display: grid;
  grid-template-areas: 'content' 'textmain' 'figura';
  grid-template-rows: 350px 500px 300px;
  justify-content: center;
  border: 1px solid green;
  width: 800px;
  height: 100vh;
}
.mainContent {
  grid: content;
  display: grid;
  grid-template-areas: 'p p p p';
  grid-template-columns: 190px 190px 190px 190px;
  margin: 0 5px;
}
.content {
  border: 1px solid yellow;
  height: 150px;
  font-size: 10em;
  text-align: center;
}
.infoContent {
  grid: p;
  height: 100px;
  border: 1px solid yellow;
  text-align: center;
  padding-top: 20px;
  margin: 10px 0;
}
.textAbout {
  grid: textmain;
}
.textAbout p {
  width: 100%;
  height: 200px;
  border: 1px solid blue;
}
.imgMain {
  grid: figura;
  width: 780px;
}
