/*Rodrigo Main*/

.container {
    box-sizing: border-box;
    width: 100%;  
  }
  main {
      margin: 0 auto;
      display: grid;
      grid-template-areas: "side principal";
      grid-template-columns: 1fr 3fr;
      width: 80%;
      gap: 20px;
      align-items: flex-start;
      box-sizing: border-box;
  }
  .side {
      grid: side;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;	
      box-sizing: border-box; 
  }
  .side div{
      border: 1px solid #ccc;
      width: 100%;
      height: 100px;	
      margin: 0 0 2px 0;	
      box-sizing: border-box;
  
  }
  .side div p{
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      box-sizing: border-box;
      padding: 45px 50px;	
  }
  .principal {
      border: 1px solid #ccc;
      grid: principal;
      display: grid;
      grid-template-areas: "topArea" "midArea" "bottomArea";
      gap: 15px;
      margin-bottom: 5px;
      padding: 10px;
      box-sizing: border-box;
  }
  .principal h1{
    font-size: 2.4em; 
    margin: 10px 0;
  }
  .topArea{
    grid: topArea;
    display: flex;
    justify-content: space-between;
      width: 100%;
      height: 310px;
    border: 1px solid #ccc;
    padding:5px;
      position: relative;
    box-sizing: border-box;
  }
  .mainAreaContent{
    width: 220px;
    height: 300px;
    box-sizing: border-box;
  }
  .imgContent{
    width: 220px;
    height: 220px;
    background-image: url('./img/img_banner_prototipo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
  }
  .infoContent{
    width: 220px;
    height: 80px;
    text-align: center;
    border: 1px solid #ccc;
    padding-top:10px;
    background-color: #ccc;
    box-sizing: border-box;
  }
  .midArea{
      grid: midArea;
      width: 100%;
      padding: 20px;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }
  .bottomArea{
      grid: midArea;
      width: 100%;
      height: 200px;
      box-sizing: border-box; 
    background-color: #ccc;
    background: url('./img/img_prototipo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
  }
  